<div class="animated fadeIn">
  <div class="row">    
    <div class="col-md-12 mb-4">
      <!-- Nav tabs -->
      <tabset>        
        <tab>
          <ng-template tabHeading><i class="icon-calculator"></i> Ver &nbsp;<span class="badge badge-pill badge-danger">{{totalItems}}</span></ng-template>
          <div class="col-lg-12">
            <div class="card">
              <div class="card-header">
                 Atenciones Medicas                 
                 <div class="card-header-actions">
                  <button title="Nueva Consulta" type="button" class="btn btn-pill btn-block btn-success" (click)="primaryModal.show(); showModalRegistrar()">+</button>
                </div>
              </div>
              <div class="card-body">
                <input class="form-control mt-2 mb-2" type="text" [(ngModel)]="searchText"  (input)="Search()" pattern="[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]{1,80}" placeholder="Search by name" />
                
                <table class="table table-striped" id="dataConsultas">
                  <thead>
                    <tr>
                      <th>Ver</th>
                      <th scope="col" *ngFor="let t of titulos">
                        
                        <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                          <button type="button" (click)="sortTable(t.campo)" class="btn btn-block btn-ghost-dark"><strong>{{t.titulo}}</strong></button>
                        </div>
                    </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let c of returnedArray">
                      <td><button class="btn btn-brand btn-facebook text" (click)="primaryModal.show()"> <i class="fa fa-eye"></i></button></td>
                      <td>{{c.uid}}</td>
                      <td>{{c.fecha | date:'dd/MM/yyyy'}}</td>
                      <td>{{c.ci}}</td>
                      <td>{{c.nombre_completo}}</td>
                      <td>{{c.sexo}}</td>
                      <td>{{c.cargo}}</td>
                      <td>{{c.motivo}}</td>
                      <td>{{c.paramedico}}</td>                      
                      <td>
                        <span class="badge badge-success">{{c.login_atendio}}</span>
                      </td>
                    </tr>                    
                   
                  </tbody>
                </table>
                <ul class="pagination">
                  <div class="col-xs-12 col-12 d-sm-down-none">
                    <pagination [totalItems]="totalItems"  (pageChanged)="pageChanged($event)"></pagination>
                  </div>
                </ul>
              </div>
            </div>
          </div>
          <!--/.col-->
          <div bsModal #primaryModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-primary" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h6 class="modal-title">{{modalTitle}}</h6>
                  <button type="button" class="close" (click)="primaryModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div *ngFor="let alert of alertsDismiss">
                    <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">{{ alert.msg }}</alert>
                  </div>
                  <form action="" method="post" class="form-horizontal">
                      <div class="card-header">
                        <i class="fa fa-edit"></i>Datos Generales para la Atenci&oacute;n
                        <div class="card-header-actions">
                          
                          <button type="button" class="card-header-action btn btn-link btn-minimize" (click)="toggleCollapse()"><i class={{iconCollapse}}></i></button>
                          
                        </div>
                      </div>           
                      
                        <div class="card-body" (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="isCollapsed" >                    
                          
                            <div class="row">
                              <div class="col-sm-6">
                                <label for="name">Cedula Paciente</label>
                                <div class="input-group">                            
                                  <span class="input-group-prepend">
                                    <button type="button" (click)="buscarPaciente()" class="btn btn-primary btn-sm"><i class="fa fa-search"></i> Search</button>
                                  </span>
                                  <input type="text" id="txtCi" name="txtCi" [(ngModel)]="paciente.ci" class="form-control form-control-sm" placeholder="Cedula Paciente">
                                  <span class="input-group-append">
                                    <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-eye fa-sm"></i></button>
                                  </span>
                                </div>
                              </div>
                              <div class="col-sm-6">
                                <div class="form-group">
                                  <label for="name">Nombre</label>
                                  <input type="text" class="form-control form-control-sm" id="txtNombre" name="txtNombre" [(ngModel)]="paciente.nombre_completo" placeholder="Nombre del Paciente">
                                </div>
                              </div>
                            </div><!--/.row 1-->                            

                            <div class="row">
                              <div class="col-sm-6">
                                <div class="form-group">                            
                                    <label for="medicoGuardia">M&eacute;dico de Guardia</label>
                                    <select class="form-control form-control-sm" name="cboMedicoGuardia" [(ngModel)]="consultas.id_medico"  id="cboMedicoGuardia">
                                      <option *ngFor="let medico of selectMedicos" [value]=" medico.uid">{{medico.nombre}}</option>
                                                                     
                                    </select>                            
                                </div>
                              </div>
        
                              <div class="col-sm-6">
                                <div class="form-group">                            
                                    <label for="paramedicoGuardia">Paramedico de Guardia</label>
                                    <select  class="form-control form-control-sm" name="cboParamedico" [(ngModel)]="consultas.id_paramedico" id="cboParamedico">
                                      <option *ngFor="let para of selectParamedicos" [value]="para.uid">{{para.nombre}}</option>                                                                     
                                    </select>                           
                                </div>
                              </div>
                            </div><!--/.row 2-->
                            <div class="row">
                              <div class="col-sm-6">
                                <div class="form-group"> 
                                    <label for="cboMotivo">Motivo</label>                             
                                    <select class="form-control form-control-sm" id="cboMotivo" name="cboMotivo" [(ngModel)]="consultas.id_motivo">
                                      <option *ngFor="let mov of motivos" [value]="mov.uid">{{mov.descripcion}}</option>
                                                                      
                                    </select>
                                  </div>                          
                              </div>
        
                              <div class="col-sm-6">
                                <div class="form-group">                            
                                    <label for="cboAreaIncidente">&Aacute;rea Incidente  o Atenci&oacute;n</label>
                                    <select class="form-control form-control-sm"  id="cboAreaIncidente" name="cboAreaIncidente" [(ngModel)]="consultas.id_area">
                                      <option *ngFor="let are of areas" [value]="are.uid">{{are.descripcion}}</option>
                                    </select>                            
                                </div>
                              </div>
                            </div><!--/.row 3-->
                            <div class="row">
                              <div class="col-sm-6">
                                <div class="form-group">                            
                                    <label for="patologia">Patolog&iacute;a</label>
                                    <input [(ngModel)]="selectedPatolog" name="txtPatologia" id="txtPatologia"
                                      [typeahead]="patologias"
                                      typeaheadOptionField="descripcion"
                                      [isAnimated]="true"
                                      [typeaheadScrollable]="true"
                                      [typeaheadOptionsInScrollableView]="10"
                                      [typeaheadSelectFirstItem]="true"
                                      [typeaheadIsFirstItemActive]="true"
                                      typeaheadGroupField="codigo_etica" 
                                      [typeaheadSingleWords]="false"
                                      (typeaheadOnSelect)="onSelect($event)"                                  
                                      class="form-control form-control-sm">
                                </div>
                              </div>
        
                              <div class="col-sm-6">
                                <div class="form-group">                           
                                    <label for="tipoAfecciones">Tipo de Afecci&oacute;n por Sistema</label>
                                    <select class="form-control form-control-sm" name="cboTipoAfecciones" [(ngModel)]="consultas.fkafeccion"  id="cboTipoAfecciones">
                                      <option *ngFor="let afec of afecciones" [value]="afec.idafecciones">{{afec.descripcion_afeccion}}</option>
                                    </select>                            
                                </div>
                              </div>
                            </div><!--/.row 4-->
                            <div class="row">
                              <div class="form-group col-sm-3">
                                <label for="fResp">F. Resp.</label>
                                <input type="text" class="form-control form-control-sm" name="txtFResp" [(ngModel)]="signoVital.fResp" id="txtFResp" placeholder="Frecuencia Respiratoria">
                              </div>
                              <div class="form-group col-sm-3">
                                <label for="pulso">Pulso</label>
                                <input type="text" class="form-control form-control-sm" name="txtPulso" [(ngModel)]="signoVital.pulso" id="txtPulso" placeholder="Pulsaciones x Min.">
                              </div>
                              <div class="form-group col-sm-3">
                                <label for="temp">Temp.</label>
                                <input type="text" class="form-control form-control-sm" name="txtTemp" [(ngModel)]="signoVital.temp" id="txtTemp" placeholder="Temperatura">
                              </div>
                              <div class="form-group col-sm-3">
                                <label for="tArt">T. Art.</label>
                                <input type="text" class="form-control form-control-sm" name="txtTArt" [(ngModel)]="signoVital.tart" id="txtTArt" placeholder="Tension Arterial">
                              </div>
                            </div><!--/.row 5-->
                            <div class="row">
                              <div class="form-group col-sm-3">
                                <label for="talla">Talla</label>
                                <input type="text" class="form-control form-control-sm" name="txtTalla" [(ngModel)]="antropometria.talla" id="txtTalla" placeholder="Nro. de Talla">
                              </div>
                              <div class="form-group col-sm-3">
                                <label for="Peso">Peso</label>
                                <input type="text" class="form-control form-control-sm" name="txtPeso" [(ngModel)]="antropometria.peso" id="txtPeso" placeholder="Peso">
                              </div>
                              <div class="form-group col-sm-3">
                                <label for="imc">IMC</label>
                                <input type="text" class="form-control form-control-sm" name="txtImc" [(ngModel)]="antropometria.imc" id="txtImc" placeholder="Indice Masa Corporal">
                              </div>
                              <div class="form-group col-sm-3">
                                <label for="fCard">F. Card</label>
                                <input type="text" class="form-control form-control-sm" name="txtFCard" [(ngModel)]="signoVital.fcard" id="txtFCard" placeholder="Frecuencia Cardiaca">
                              </div>
                            </div><!--/.row 6-->

                            <div class="row">
                              <div class="col-md-6">
                                <label for="motivoConsulta">Motivo de la Consulta</label>
                                <textarea id="txtMotivoConsulta" name="txtMotivoConsulta" [(ngModel)]="consultas.sintomas" rows="2"  class="form-control form-control-sm" placeholder="Descripcion Consulta..."></textarea>
                              </div>
                            
                              <div class="col-md-6">
                                <label for="enfermedadActual">Enfermedad Actual</label>
                                <textarea id="enfermedadActual" name="enfermedadActual" rows="2" [(ngModel)]="consultas.observaciones" class="form-control form-control-sm" placeholder="Sintomas Actuales..."></textarea>
                              </div>
                            </div><!--/.row 7-->

                            <div class="row">
                              <div class="col-md-6">
                                <label for="diagnostico">Diagn&oacute;stico</label>
                                <textarea id="diagnostico" name="diagnostico" rows="2" [(ngModel)]="consultas.resultado_eva" class="form-control form-control-sm" placeholder="Diagnostico..."></textarea>
                              </div>
                            
                              <div class="col-md-6">
                                <label for="observacion">Observacion</label>
                                <textarea id="observacion" name="observacion" rows="2" [(ngModel)]="consultas.observacion_medicamentos" class="form-control form-control-sm" placeholder="Observaciones..."></textarea>
                              </div>
                            </div><!--/.row 8-->

                         
                        </div>

                        <div class="card-header">
                          <i class="fa fa-edit"></i>Rerefencias y Medicamentos
                          <div class="card-header-actions">
                            
                            <button type="button" class="card-header-action btn btn-link btn-minimize" (click)="toggleCollapse()"><i class={{iconCollapse_1}}></i></button>
                            
                          </div>
                        </div>
                        <div class="card-body" (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="isCollapsed_1" >
                          <div class="card">
                            <div class="card-header">
                              <strong>Referencias</strong>                              
                            </div>                            
                            <table class="table table-condensed" id="dataReferencias">
                              <thead>
                                <tr>                                
                                  <th scope="col">Especialidad</th>
                                  <th scope="col">Informe</th>
                                  <th scope="col">Add+</th>
                                </tr>
                                <tr>                                
                                  <th scope="col"><input type="text" class="form-control form-control-sm" id="especialidad" placeholder="Referenciado a..."></th>
                                  <th scope="col"><input type="text" class="form-control form-control-sm" id="referencia" placeholder="Descripcion de Referencia"></th>
                                  <th scope="col">
                                    <button type="button" class="btn btn-block btn-link"><i class="fa fa-paperclip"></i></button>
                                  </th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr >                                
                                  <td></td>
                                  <td></td>
                                  <td></td> 
                                </tr>                             
                              </tbody>
                            </table> 
                          </div>
                          <div class="card">                            
                            <div class="card-header">
                              <strong>Medicamentos Aplicados</strong>                              
                            </div>
                            <table class="table table-condensed" id="dataMedicamentosAplicados">
                              <thead>
                                <tr>                                
                                  <th scope="col">Medicina</th>
                                  <th scope="col">Unidad Medida</th>
                                  <th scope="col">Cant.</th>
                                  <th scope="col">Add+</th>
                                </tr>
                                <tr>                                
                                  <th scope="col"><select class="form-control form-control-sm" id="medicinaAplicada">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>                                
                                  </select></th>
                                  <th scope="col"><select class="form-control form-control-sm" id="unidad">
                                    <option>Comprimido</option>
                                    <option>Ampolla</option>
                                    <option>CC</option>
                                    <option>Torunda</option>
                                    <option>Blister</option>
                                    <option>Crema</option>                                 
                                  </select></th>
                                  <th scope="col"><input type="text" class="form-control form-control-sm" id="cantidad" placeholder=""></th>
                                  <th scope="col">
                                    <button type="button" class="btn btn-block btn-link"><i class="fa fa-paperclip"></i></button>
                                  </th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr >                                
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td> 
                                </tr>                             
                              </tbody>
                            </table>
                          </div>
                          <div class="card">                            
                            <div class="card-header">
                              <strong>Recetario</strong>                              
                            </div>
                            <table class="table table-condensed" id="dataMedicamentosAplicados">
                              <thead>
                                <tr>                                
                                  <th scope="col">Medicina</th>
                                  <th scope="col">Indicaciones</th>                                
                                  <th scope="col">Add+</th>
                                </tr>
                                <tr>                                
                                  <th scope="col"><select class="form-control form-control-sm" id="medicinaIndicada">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>                                
                                  </select></th>                               
                                  <th scope="col"><input type="text" class="form-control form-control-sm" id="indicaciones" placeholder=""></th>
                                  <th scope="col">
                                    <button type="button" class="btn btn-block btn-link"><i class="fa fa-paperclip"></i></button>
                                  </th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr >                                
                                  <td></td>
                                  <td></td>
                                  <td></td>                                
                                </tr>                             
                              </tbody>
                            </table>
                          </div>  
                        </div>
                  </form>    
                </div>
                
                <div class="modal-footer">
                  
                  <label class="switch switch-label switch-pill switch-warning" tooltip="Requiere de Autorizaci&oacute;n">                    
                    <input type="checkbox" name="chkAutorizacion" id="chkAutorizacion" class="switch-input" [(ngModel)]="autorizacion">
                    <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
                  </label>

                  <button type="button" class="btn btn-secondary" (click)="primaryModal.hide()">Close</button>
                  <button type="button"  (click)="registrar()" class="btn btn-primary">Save changes</button>
                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div><!-- /.modal -->
        </tab>
        <tab>
          <ng-template tabHeading><i class="icon-pie-chart"></i> Graficas</ng-template>
          <div class="card">
            <div class="card-header">
              Polar Area Chart              
            </div>
            <div class="card-body">
              <div class="chart-wrapper">
                <canvas baseChart class="chart"
                [data]="polarAreaChartData"
                [labels]="polarAreaChartLabels"
                [legend]="polarAreaLegend"
                [chartType]="polarAreaChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
              </div>
            </div>
          </div>
        </tab>
      </tabset>


    </div><!--/.col-->
  </div><!--/.row-->
</div>
