<div class="card">
  <form>
    <div class="card-body">
        
      <div *ngFor="let eva of arrayEvaluacionesConRespuestas; let i=index">            

            <div *ngIf="eva.evaluaciones.descripcion_evaluacion=='Tensión Arterial'" class="form-row">                
                <div class="alert alert-secondary col-md-4" style="height: 34px; margin-bottom: 1px; padding:0px 10px; line-height:34px;" role="alert">
                    <strong> {{eva.evaluaciones.descripcion_evaluacion}}:</strong>
                </div>
                <div *ngFor="let res of eva.posibles_resp; let j=index" class="form-group col-md-2">
                    <span *ngIf="res.descripcion!='Observacion'" class="form-group has-float-label">                                                                    
                        <input type="number" class="form-control form-control" [name]="res.descripcion + '_' + res.index" [(ngModel)]="arrayEvaluacionesConRespuestas[i].posibles_resp[j].posible_resp" >
                        <label class="badge-light" for="{{res.descripcion + '_' + res.index}}">{{ res.descripcion }}</label>
                    </span>
                    <span *ngIf="res.descripcion=='Observacion'" class="form-group has-float-label">                                                                    
                        <input type="text" class="form-control form-control" style="width: 300px;" [name]="res.descripcion + '_' + res.index" [(ngModel)]="arrayEvaluacionesConRespuestas[i].posibles_resp[j].posible_resp" >
                        <label class="badge-light" for="{{res.descripcion + '_' + res.index}}">{{ res.descripcion }}</label>
                    </span>
                </div>
            </div>

            <div *ngIf="eva.evaluaciones.descripcion_evaluacion=='Frecuencia Cardiaca'" class="form-row">
                <div class="alert alert-secondary col-md-4" style="height: 34px; margin-bottom: 1px; padding:0px 10px; line-height:34px;" role="alert">
                    <strong> {{eva.evaluaciones.descripcion_evaluacion}}:</strong>
                </div>
                <div *ngFor="let res of eva.posibles_resp; let j=index" class="form-group col-md-4">
                    <span class="form-group has-float-label">                                                                    
                        <input type="text" class="form-control form-control" [name]="res.descripcion + '_' + res.index" [(ngModel)]="arrayEvaluacionesConRespuestas[i].posibles_resp[j].posible_resp" >
                        <label class="badge-light" for="{{res.descripcion + '_' + res.index}}">{{ res.descripcion }}</label>
                    </span>
                </div>
            </div>

            <div *ngIf="eva.evaluaciones.descripcion_evaluacion=='Pulsos'" class="form-row">
                <div class="alert alert-secondary col-md-4" style="height: 34px; margin-bottom: 1px; padding:0px 10px; line-height:34px;" role="alert">
                    <strong> {{eva.evaluaciones.descripcion_evaluacion}}:</strong>
                </div>
                <div *ngFor="let res of eva.posibles_resp; let j=index" class="form-group col-md-1">
                    <span *ngIf="res.descripcion!='Observacion'" class="form-group has-float-label">                                                                    
                        <input type="number" class="form-control form-control" [name]="res.descripcion + '_' + res.index" [(ngModel)]="arrayEvaluacionesConRespuestas[i].posibles_resp[j].posible_resp" >
                        <label class="badge-light" for="{{res.descripcion + '_' + res.index}}">{{ res.descripcion }}</label>
                    </span>
                    <span *ngIf="res.descripcion=='Observacion'" class="form-group has-float-label">                                                                    
                        <input type="text" class="form-control form-control" style="width: 300px;" [name]="res.descripcion + '_' + res.index" [(ngModel)]="arrayEvaluacionesConRespuestas[i].posibles_resp[j].posible_resp" >
                        <label class="badge-light" for="{{res.descripcion + '_' + res.index}}">{{ res.descripcion }}</label>
                    </span>
                </div>
            </div>

            <div *ngIf="eva.evaluaciones.descripcion_evaluacion=='Carotideo'" class="form-row">
                <div class="alert alert-secondary col-md-4" style="height: 34px; margin-bottom: 1px; padding:0px 10px; line-height:34px;" role="alert">
                    <strong> {{eva.evaluaciones.descripcion_evaluacion}}:</strong>
                </div>
                <div *ngFor="let res of eva.posibles_resp; let j=index" class="form-group col-md-1">
                    <span *ngIf="res.descripcion!='Observacion'" class="form-group has-float-label">                                                                    
                        <input type="number" class="form-control form-control" [name]="res.descripcion + '_' + res.index" [(ngModel)]="arrayEvaluacionesConRespuestas[i].posibles_resp[j].posible_resp" >
                        <label class="badge-light" for="{{res.descripcion + '_' + res.index}}">{{ res.descripcion }}</label>
                    </span>
                    <span *ngIf="res.descripcion=='Observacion'" class="form-group has-float-label">                                                                    
                        <input type="text" class="form-control form-control" style="width: 300px;" [name]="res.descripcion + '_' + res.index" [(ngModel)]="arrayEvaluacionesConRespuestas[i].posibles_resp[j].posible_resp" >
                        <label class="badge-light" for="{{res.descripcion + '_' + res.index}}">{{ res.descripcion }}</label>
                    </span>
                </div>
            </div>

            <div *ngIf="eva.evaluaciones.descripcion_evaluacion=='Radial'" class="form-row">
                <div class="alert alert-secondary col-md-4" style="height: 34px; margin-bottom: 1px; padding:0px 10px; line-height:34px;" role="alert">
                    <strong> {{eva.evaluaciones.descripcion_evaluacion}}:</strong>
                </div>
                <div *ngFor="let res of eva.posibles_resp; let j=index" class="form-group col-md-1">
                    <span *ngIf="res.descripcion!='Observacion'" class="form-group has-float-label">                                                                    
                        <input type="number" class="form-control form-control" [name]="res.descripcion + '_' + res.index" [(ngModel)]="arrayEvaluacionesConRespuestas[i].posibles_resp[j].posible_resp" >
                        <label class="badge-light" for="{{res.descripcion + '_' + res.index}}">{{ res.descripcion }}</label>
                    </span>
                    <span *ngIf="res.descripcion=='Observacion'" class="form-group has-float-label">                                                                    
                        <input type="text" class="form-control form-control" style="width: 300px;" [name]="res.descripcion + '_' + res.index" [(ngModel)]="arrayEvaluacionesConRespuestas[i].posibles_resp[j].posible_resp" >
                        <label class="badge-light" for="{{res.descripcion + '_' + res.index}}">{{ res.descripcion }}</label>
                    </span>
                </div>
            </div>

            <div *ngIf="eva.evaluaciones.descripcion_evaluacion=='Otro'" class="form-row">
                <div class="alert alert-secondary col-md-4" style="height: 34px; margin-bottom: 1px; padding:0px 10px; line-height:34px;" role="alert">
                    <strong> {{eva.evaluaciones.descripcion_evaluacion}}:</strong>
                </div>
                <div *ngFor="let res of eva.posibles_resp; let j=index" class="form-group col-md-4">
                    <span class="form-group has-float-label">                                                                    
                        <input type="text" class="form-control form-control" [name]="res.descripcion + '_' + res.index" [(ngModel)]="arrayEvaluacionesConRespuestas[i].posibles_resp[j].posible_resp" >
                        <label class="badge-light" for="{{res.descripcion + '_' + res.index}}">{{ res.descripcion }}</label>
                    </span>
                </div>
            </div>

            <div *ngIf="eva.evaluaciones.descripcion_evaluacion=='Antropometria'" class="form-row">
                <div class="alert alert-secondary col-md-4" style="height: 34px; margin-bottom: 1px; padding:0px 10px; line-height:34px;" role="alert">
                    <strong> {{eva.evaluaciones.descripcion_evaluacion}}:</strong>
                </div>
                <div *ngFor="let res of eva.posibles_resp; let j=index" class="form-group col-md-1">
                    <span *ngIf="res.descripcion!='Observacion' && res.descripcion!='IMC'" class="form-group has-float-label">                                                                    
                        <input type="number" (change)="calc_imc(i, j, eva.posibles_resp)" class="form-control form-control" [name]="res.descripcion + '_' + res.index" [(ngModel)]="arrayEvaluacionesConRespuestas[i].posibles_resp[j].posible_resp" >
                        <label class="badge-light" for="{{res.descripcion + '_' + res.index}}">{{ res.descripcion }}</label>
                    </span>
                    <span *ngIf="res.descripcion=='IMC'" class="form-group has-float-label">                                                                    
                        <input type="number" readonly  class="form-control form-control" [name]="res.descripcion + '_' + res.index" [(ngModel)]="arrayEvaluacionesConRespuestas[i].posibles_resp[j].posible_resp" >
                        <label class="badge-light" for="{{res.descripcion + '_' + res.index}}">{{ res.descripcion }}</label>
                    </span>
                    <span *ngIf="res.descripcion=='Observacion'" class="form-group has-float-label">                                                                    
                        <input type="text" class="form-control form-control" style="width: 380px;" [name]="res.descripcion + '_' + res.index" [(ngModel)]="arrayEvaluacionesConRespuestas[i].posibles_resp[j].posible_resp" >
                        <label class="badge-light" for="{{res.descripcion + '_' + res.index}}">{{ res.descripcion }}</label>
                    </span>
                </div>
            </div>

            <div *ngIf="eva.evaluaciones.descripcion_evaluacion=='Perímetro abdominal'" class="form-row">
                <div class="alert alert-secondary col-md-4" style="height: 34px; margin-bottom: 1px; padding:0px 10px; line-height:34px;" role="alert">
                    <strong> {{eva.evaluaciones.descripcion_evaluacion}}:</strong>
                </div>
                <div *ngFor="let res of eva.posibles_resp; let j=index" class="form-group col-md-8">                    
                    <span *ngIf="res.descripcion=='Observacion'" class="form-group has-float-label">                                                                    
                        <input type="text" class="form-control form-control" style="width: 620px;" [name]="res.descripcion + '_' + res.index" [(ngModel)]="arrayEvaluacionesConRespuestas[i].posibles_resp[j].posible_resp" >
                        <label class="badge-light" for="{{res.descripcion + '_' + res.index}}">{{ res.descripcion }}</label>
                    </span>
                </div>
            </div>

            <div *ngIf="eva.evaluaciones.descripcion_evaluacion=='Agudeza visual fondo de ojo'" class="form-row">
                <div class="alert alert-secondary col-md-4" style="height: 34px; margin-bottom: 1px; padding:0px 10px; line-height:34px;" role="alert">
                    <strong> {{eva.evaluaciones.descripcion_evaluacion}}:</strong>
                </div>
                <div *ngFor="let res of eva.posibles_resp; let j=index">
                    <div *ngIf="eva.posibles_resp[j].descripcion=='SI' || eva.posibles_resp[j].descripcion=='Observacion'" class="form-group col-md-2">
                        <label *ngIf="eva.posibles_resp[j].descripcion=='SI'" class="switch switch-label switch-pill switch-warning">                    
                            <input [disabled]="soloLectura" type="checkbox" (change)="getIdRespuesta($event, respuestas[i].marcada, i, j)" [name]="'chkResp_' + eva.evaluaciones.indice" [(ngModel)]="respuestas[i].marcada[j].posible_resp" class="switch-input" >
                            <span class="switch-slider" data-checked="SI" data-unchecked="NO"></span>
                        </label>                    
                        <span *ngIf="res.descripcion=='Observacion'" class="form-group has-float-label">                                                                    
                            <input type="text" class="form-control form-control" style="width: 530px;" [name]="res.descripcion + '_' + res.index" [(ngModel)]="arrayEvaluacionesConRespuestas[i].posibles_resp[j].posible_resp" >
                            <label class="badge-light" for="{{res.descripcion + '_' + res.index}}">{{ res.descripcion }}</label>
                        </span>
                    </div>
                </div>
            </div>
            
            <div *ngIf="eva.evaluaciones.descripcion_evaluacion=='Examen odontológico'" class="form-row">
                <div class="alert alert-secondary col-md-4" style="height: 34px; margin-bottom: 1px; padding:0px 10px; line-height:34px;" role="alert">
                    <strong> {{eva.evaluaciones.descripcion_evaluacion}}:</strong>
                </div>
                <div *ngFor="let res of eva.posibles_resp; let j=index">
                    <div *ngIf="eva.posibles_resp[j].descripcion=='SI' || eva.posibles_resp[j].descripcion=='Observacion'" class="form-group col-md-2">
                        <label *ngIf="eva.posibles_resp[j].descripcion=='SI'" class="switch switch-label switch-pill switch-warning">                    
                            <input [disabled]="soloLectura" type="checkbox" (change)="getIdRespuesta($event, respuestas[i].marcada, i, j)" [name]="'chkResp_' + eva.evaluaciones.indice" [(ngModel)]="respuestas[i].marcada[j].posible_resp" class="switch-input" >
                            <span class="switch-slider" data-checked="SI" data-unchecked="NO"></span>
                        </label>                    
                        <span *ngIf="res.descripcion=='Observacion'" class="form-group has-float-label">                                                                    
                            <input type="text" class="form-control form-control" style="width: 530px;" [name]="res.descripcion + '_' + res.index" [(ngModel)]="arrayEvaluacionesConRespuestas[i].posibles_resp[j].posible_resp" >
                            <label class="badge-light" for="{{res.descripcion + '_' + res.index}}">{{ res.descripcion }}</label>
                        </span>
                    </div>
                </div>
            </div>

            <div *ngIf="eva.evaluaciones.descripcion_evaluacion=='Pulsos periféricos'" class="form-row">
                <div class="alert alert-secondary col-md-4" style="height: 34px; margin-bottom: 1px; padding:0px 10px; line-height:34px;" role="alert">
                    <strong> {{eva.evaluaciones.descripcion_evaluacion}}:</strong>
                </div>
                <div *ngFor="let res of eva.posibles_resp; let j=index">
                    <div *ngIf="eva.posibles_resp[j].descripcion=='SI' || eva.posibles_resp[j].descripcion=='Observacion'" class="form-group col-md-2">
                        <label *ngIf="eva.posibles_resp[j].descripcion=='SI'" class="switch switch-label switch-pill switch-warning">                    
                            <input [disabled]="soloLectura" type="checkbox" (change)="getIdRespuesta($event, respuestas[i].marcada, i, j)" [name]="'chkResp_' + eva.evaluaciones.indice" [(ngModel)]="respuestas[i].marcada[j].posible_resp" class="switch-input" >
                            <span class="switch-slider" data-checked="SI" data-unchecked="NO"></span>
                        </label>                    
                        <span *ngIf="res.descripcion=='Observacion'" class="form-group has-float-label">                                                                    
                            <input type="text" class="form-control form-control" style="width: 530px;" [name]="res.descripcion + '_' + res.index" [(ngModel)]="arrayEvaluacionesConRespuestas[i].posibles_resp[j].posible_resp" >
                            <label class="badge-light" for="{{res.descripcion + '_' + res.index}}">{{ res.descripcion }}</label>
                        </span>
                    </div>
                </div>
            </div>

            <div *ngIf="eva.evaluaciones.descripcion_evaluacion=='Inspección y sensibilidad de los pies'" class="form-row">
                <div class="alert alert-secondary col-md-4" style="height: 34px; margin-bottom: 1px; padding:0px 10px; line-height:34px;" role="alert">
                    <strong> {{eva.evaluaciones.descripcion_evaluacion}}:</strong>
                </div>
                <div *ngFor="let res of eva.posibles_resp; let j=index">
                    <div *ngIf="eva.posibles_resp[j].descripcion=='SI' || eva.posibles_resp[j].descripcion=='Observacion'" class="form-group col-md-2">
                        <label *ngIf="eva.posibles_resp[j].descripcion=='SI'" class="switch switch-label switch-pill switch-warning">                    
                            <input [disabled]="soloLectura" type="checkbox" (change)="getIdRespuesta($event, respuestas[i].marcada, i, j)" [name]="'chkResp_' + eva.evaluaciones.indice" [(ngModel)]="respuestas[i].marcada[j].posible_resp" class="switch-input" >
                            <span class="switch-slider" data-checked="SI" data-unchecked="NO"></span>
                        </label>                    
                        <span *ngIf="res.descripcion=='Observacion'" class="form-group has-float-label">                                                                    
                            <input type="text" class="form-control form-control" style="width: 530px;" [name]="res.descripcion + '_' + res.index" [(ngModel)]="arrayEvaluacionesConRespuestas[i].posibles_resp[j].posible_resp" >
                            <label class="badge-light" for="{{res.descripcion + '_' + res.index}}">{{ res.descripcion }}</label>
                        </span>
                    </div>
                </div>
            </div>

            <div *ngIf="eva.evaluaciones.descripcion_evaluacion=='sensibilidad vibratoria, y táctil-dolorosa'" class="form-row">
                <div class="alert alert-secondary col-md-4" style="height: 34px; margin-bottom: 1px; padding:0px 10px; line-height:34px;" role="alert">
                    <strong> {{eva.evaluaciones.descripcion_evaluacion}}:</strong>
                </div>
                <div *ngFor="let res of eva.posibles_resp; let j=index">
                    <div *ngIf="eva.posibles_resp[j].descripcion=='SI' || eva.posibles_resp[j].descripcion=='Observacion'" class="form-group col-md-2">
                        <label *ngIf="eva.posibles_resp[j].descripcion=='SI'" class="switch switch-label switch-pill switch-warning">                    
                            <input [disabled]="soloLectura" type="checkbox" (change)="getIdRespuesta($event, respuestas[i].marcada, i, j)" [name]="'chkResp_' + eva.evaluaciones.indice" [(ngModel)]="respuestas[i].marcada[j].posible_resp" class="switch-input" >
                            <span class="switch-slider" data-checked="SI" data-unchecked="NO"></span>
                        </label>                    
                        <span *ngIf="res.descripcion=='Observacion'" class="form-group has-float-label">                                                                    
                            <input type="text" class="form-control form-control" style="width: 530px;" [name]="res.descripcion + '_' + res.index" [(ngModel)]="arrayEvaluacionesConRespuestas[i].posibles_resp[j].posible_resp" >
                            <label class="badge-light" for="{{res.descripcion + '_' + res.index}}">{{ res.descripcion }}</label>
                        </span>
                    </div>
                </div>
            </div>

            <div *ngIf="eva.evaluaciones.descripcion_evaluacion=='Reflejos Aquileano y patelar'" class="form-row">
                <div class="alert alert-secondary col-md-4" style="height: 34px; margin-bottom: 1px; padding:0px 10px; line-height:34px;" role="alert">
                    <strong> {{eva.evaluaciones.descripcion_evaluacion}}:</strong>
                </div>
                <div *ngFor="let res of eva.posibles_resp; let j=index">
                    <div *ngIf="eva.posibles_resp[j].descripcion=='SI' || eva.posibles_resp[j].descripcion=='Observacion'" class="form-group col-md-2">
                        <label *ngIf="eva.posibles_resp[j].descripcion=='SI'" class="switch switch-label switch-pill switch-warning">                    
                            <input [disabled]="soloLectura" type="checkbox" (change)="getIdRespuesta($event, respuestas[i].marcada, i, j)" [name]="'chkResp_' + eva.evaluaciones.indice" [(ngModel)]="respuestas[i].marcada[j].posible_resp" class="switch-input" >
                            <span class="switch-slider" data-checked="SI" data-unchecked="NO"></span>
                        </label>                    
                        <span *ngIf="res.descripcion=='Observacion'" class="form-group has-float-label">                                                                    
                            <input type="text" class="form-control form-control" style="width: 530px;" [name]="res.descripcion + '_' + res.index" [(ngModel)]="arrayEvaluacionesConRespuestas[i].posibles_resp[j].posible_resp" >
                            <label class="badge-light" for="{{res.descripcion + '_' + res.index}}">{{ res.descripcion }}</label>
                        </span>
                    </div>
                </div>
            </div>

            <div *ngIf="eva.evaluaciones.descripcion_evaluacion=='Cardio pulmonar'" class="form-row">
                <div class="alert alert-secondary col-md-4" style="height: 34px; margin-bottom: 1px; padding:0px 10px; line-height:34px;" role="alert">
                    <strong> {{eva.evaluaciones.descripcion_evaluacion}}:</strong>
                </div>
                <div *ngFor="let res of eva.posibles_resp; let j=index">
                    <div *ngIf="eva.posibles_resp[j].descripcion=='SI' || eva.posibles_resp[j].descripcion=='Observacion'" class="form-group col-md-2">
                        <label *ngIf="eva.posibles_resp[j].descripcion=='SI'" class="switch switch-label switch-pill switch-warning">                    
                            <input [disabled]="soloLectura" type="checkbox" (change)="getIdRespuesta($event, respuestas[i].marcada, i, j)" [name]="'chkResp_' + eva.evaluaciones.indice" [(ngModel)]="respuestas[i].marcada[j].posible_resp" class="switch-input" >
                            <span class="switch-slider" data-checked="SI" data-unchecked="NO"></span>
                        </label>                    
                        <span *ngIf="res.descripcion=='Observacion'" class="form-group has-float-label">                                                                    
                            <input type="text" class="form-control form-control" style="width: 530px;" [name]="res.descripcion + '_' + res.index" [(ngModel)]="arrayEvaluacionesConRespuestas[i].posibles_resp[j].posible_resp" >
                            <label class="badge-light" for="{{res.descripcion + '_' + res.index}}">{{ res.descripcion }}</label>
                        </span>
                    </div>
                </div>
            </div>

            <div *ngIf="eva.evaluaciones.descripcion_evaluacion=='Pie y anexos'" class="form-row">
                <div class="alert alert-secondary col-md-4" style="height: 34px; margin-bottom: 1px; padding:0px 10px; line-height:34px;" role="alert">
                    <strong> {{eva.evaluaciones.descripcion_evaluacion}}:</strong>
                </div>
                <div *ngFor="let res of eva.posibles_resp; let j=index">
                    <div *ngIf="eva.posibles_resp[j].descripcion=='SI' || eva.posibles_resp[j].descripcion=='Observacion'" class="form-group col-md-2">
                        <label *ngIf="eva.posibles_resp[j].descripcion=='SI'" class="switch switch-label switch-pill switch-warning">                    
                            <input [disabled]="soloLectura" type="checkbox" (change)="getIdRespuesta($event, respuestas[i].marcada, i, j)" [name]="'chkResp_' + eva.evaluaciones.indice" [(ngModel)]="respuestas[i].marcada[j].posible_resp" class="switch-input" >
                            <span class="switch-slider" data-checked="SI" data-unchecked="NO"></span>
                        </label>
                        <span *ngIf="res.descripcion=='Observacion'" class="form-group has-float-label">                                                                    
                            <input type="text" class="form-control form-control" style="width: 530px;" [name]="res.descripcion + '_' + res.index" [(ngModel)]="arrayEvaluacionesConRespuestas[i].posibles_resp[j].posible_resp" >
                            <label class="badge-light" for="{{res.descripcion + '_' + res.index}}">{{ res.descripcion }}</label>
                        </span>
                    </div>
                </div>
            </div>
          
        </div>                  
    
    </div>
    <div *ngFor="let alert of alertsDismiss">
        <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)"><strong>{{ alert.msg }}</strong></alert>                  
    </div>
    <div class="card-footer">      
        <button type="button" [disabled]="soloLectura || bloqueaGuardar" (click)="guardar()" class="btn btn-sm btn-primary" [popover]="alertaRegistrar" [popoverTitle]="titleRegistrar"><i class="fa fa-dot-circle-o"></i> Guardar</button>
        <button [disabled]="soloLectura  || bloqueaGuardar" type="submit" class="btn btn-sm btn-danger" (click)="reset()"><i class="fa fa-dot-circle-o"></i> Reset</button>
        
    </div>
  </form>  
</div>