<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
           <strong>Mobilidad</strong> <code>({{totalItems}})</code>
           <div class="card-header-actions">
            <button type="button" class="btn btn-sm btn-pill btn-info" title="Refrescar Consultas/Mostrar Todas" (click)="mostrarTodo()"><i class="fa fa-refresh"></i></button>            
            <button type="button" class="btn btn-sm btn-pill btn-primary" [disabled]="titleButtonExport!='Exportar'" (click)="exportExcel()" title="Explortar a Excel"><i class="fa fa-file-excel-o"></i>&nbsp;{{titleButtonExport}}</button>
            <button type="button" class="btn btn-sm btn-pill btn-warning" [disabled]="titleButtonSend!='Enviar'" (click)="enviarMorbilidad('MORBILIDAD')" title="Enviar Reporte de Morbilidad"><i class="fa fa-envelope-o"></i>&nbsp;{{titleButtonSend}}</button>
          </div>
        </div>
        <div class="card-body">
          <div *ngFor="let alert of alertsDismiss">
            <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)"><strong>{{ alert.msg }}</strong></alert>                  
          </div>
          <div class="row">
            <div class="col-sm-4">
              <input class="form-control mt-1 mb-1" type="text" [(ngModel)]="searchText" (input)="Search()" pattern="" placeholder="Search by ..." />
            </div>
            <div class="col-sm-2">
              <div class="form-group">
                <span class="form-group has-float-label">
                  <input type="date" class="form-control mt-1 mb-1" id="fecha_ini" (change)="SearchFecha()" name="fecha_ini" [(ngModel)]="fInicio" >
                  <label class="badge-light" for="fecha_ini">Fecha Inicio</label>
                </span>
              </div>      
            </div>
            <div class="col-sm-2">
              <div class="form-group">
                <span class="form-group has-float-label">
                  <input type="date" class="form-control mt-1 mb-1" id="fecha_fin" (change)="SearchFecha()" name="fecha_fin" [(ngModel)]="fFin">
                  <label class="badge-light" for="fecha_fin">Fecha Fin</label>
                </span>
              </div>
            </div>
          </div>          
          
          <table class="{{ classTable }} table-hover table-sm table-responsive" id="dataConsultas">
            <thead>
              <tr>                
                <th scope="col" *ngFor="let t of titulos">
                  
                  <div class="col-1 col-sm-1 col-md-1 col-xl mb-1 mb-xl-0">
                    <button type="button" (click)="sortTable(t.campo)" class="{{ classButton }}"><strong>{{t.titulo}}</strong></button>
                   <!-- <button type="button" (click)="sortTable(t.campo)" class="{{ classButton }}"><strong>{{t.titulo}}</strong></button>-->
                  </div>
              </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let c of returnedArray">
                <td style="font-size: 0.7rem;">{{c.uid}}</td>
                <td style="font-size: 0.7rem;">{{c.fecha | date:'yyyy-MM-dd'}}</td>
                <td style="font-size: 0.7rem; text-align: center;">{{c.turno}}</td>
                <td style="font-size: 0.7rem;">{{c.ci}}</td>
                <td style="font-size: 0.7rem;">{{c.nombre_completo}}</td>
                <td style="font-size: 0.7rem; text-align: center;">{{c.sexo}}</td>
                <td style="font-size: 0.7rem;">{{c.cargo}}</td>
                <td style="font-size: 0.7rem;">{{c.nombres_jefe}}</td>
                <td style="font-size: 0.7rem;">{{c.area}}</td>
                <td style="font-size: 0.7rem;">{{c.motivo}}</td>
                <td style="font-size: 0.7rem; text-align: center;" *ngIf="c.fktipoconsulta==1">P</td> <td style="font-size: 0.7rem; text-align: center;" *ngIf="c.fktipoconsulta!=1">S</td>
                <td colspan="2" style="font-size: 0.7rem;">{{c.resultado_eva}}</td>
                <td style="font-size: 0.7rem;">{{c.descripcion_afeccion}}</td>
                <td style="font-size: 0.7rem; text-align: center;">{{c.motivo_consulta}}</td>
                <td style="font-size: 0.7rem;">{{c.aplicacion}}</td>
                <td style="font-size: 0.7rem;">{{c.login_atendio}}</td>
                <td style="font-size: 0.6rem;">{{c.direccion_hab}}</td>
                <td style="font-size: 0.7rem; text-align: center;">{{c.mano_dominante}}</td>
                <td style="font-size: 0.7rem; text-align: center;">{{c.talla}}</td>
                <td style="font-size: 0.7rem; text-align: center;">{{c.peso}}</td>
                <td style="font-size: 0.7rem; text-align: center;">{{c.imc}}</td>
                <td style="font-size: 0.7rem; text-align: center;">{{c.edad.years}}</td>
              </tr>
             
            </tbody>            
          </table>
          <ul class="pagination">
            <div class="col-xs-12 col-12 d-sm-down-none">
              <pagination [totalItems]="totalItems" (pageChanged)="pageChanged($event)" [rotate]="true" [maxSize]="10"></pagination>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div><!--/.row-->
</div>