<div class="card">
    <div class="card-header">
      <strong>Historial de Atencion</strong> del Trabajador
    </div>
    <form action="" method="post" class="form-horizontal">
      <div class="card-body">                 
        <table class="{{ classTable }} table-hover table-sm table-responsive" id="dataReferencias">    
          <thead *ngIf="returnedArray.length>0">                            
            <tr>                                
              <th  style="font-size: 0.7rem;" *ngFor="let col of columnas | slice:sliceIndex; let i = index;" scope="col">{{ col }}</th>            
            </tr>
          </thead>
          <tr *ngFor="let mor of returnedArray; let i = index;">                                            
            <td style="font-size: 0.7rem;" *ngIf="sliceIndex==0">{{mor.ci}}</td>
            <td style="font-size: 0.7rem;" *ngIf="sliceIndex==0">{{mor.nombre_completo}}</td>
            <td><button type="button" title="Ver Consulta: {{mor.uid}}"   
              (click)="irConsulta(mor.uid);" 
              class="btn btn-block btn-link">
              <i class="icon-eye"></i>
            </button></td>          
            <td style="font-size: 0.7rem;">{{mor.cargo}}</td>
            <td style="font-size: 0.7rem;">{{mor.nombres_jefe}}</td>
            <td style="font-size: 0.7rem;">{{mor.area}}</td>            
            <td style="font-size: 0.7rem;">{{mor.fecha  | date:'yyyy-MM-dd HH:mm'}}</td>
            <td style="font-size: 0.7rem;">{{mor.motivo}}</td>
            <td style="font-size: 0.7rem;">{{mor.resultado_eva}}</td>
            <td style="font-size: 0.7rem;">{{mor.descripcion_afeccion}}</td>
            <td style="font-size: 0.7rem;">{{mor.motivo_consulta}}</td>
            <td style="font-size: 0.7rem;">{{mor.aplicacion}}</td>
            <td style="font-size: 0.7rem;">{{mor.talla}}</td>
            <td style="font-size: 0.7rem;">{{mor.peso}}</td>
            <td style="font-size: 0.7rem;">{{mor.imc}}</td>
            <td style="font-size: 0.7rem;">{{mor.edad.years}}A {{mor.edad.months}}M</td>
            <td style="font-size: 0.7rem;">{{mor.direccion_hab}}</td>
            <td style="font-size: 0.7rem;">{{mor.mano_dominante}}</td>
            <td style="font-size: 0.7rem;">{{mor.sexo}}</td>
            <td style="font-size: 0.7rem;">{{mor.medico}}</td>                      
            <td style="font-size: 0.7rem;">{{mor.paramedico}}</td>            
             
          </tr>                              
        </table>            
        <ul class="pagination">
          <div class="col-xs-12 col-12 d-sm-down-none">
            <pagination [totalItems]="totalItems"  (pageChanged)="pageChanged($event)" [rotate]="true" [maxSize]="10"></pagination>
          </div>
        </ul>
      </div>
    </form>
    <div class="card-footer">        
      <div *ngFor="let alert of alertsDismiss">
        <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)"><strong>{{ alert.msg }}</strong></alert>                  
      </div>
    </div>
</div>
<!--
<div bsModal #primaryModal="bs-modal" class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content modal-primary" >
      <div class="modal-header">
        
        <button type="button" class="close" (click)="primaryModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-consulta_one *ngIf="idConsulta!=undefined" [uidConsulta]="idConsulta"></app-consulta_one>
    </div>
  </div>
</div>
-->