<div class="card">
    <div class="card-header">
      <strong>Evaluacion Fisica</strong> Metabolico/Cadiovascular
    </div>
    <div class="card-body">
      <form action="" method="post" class="form-horizontal">
        <tabset> 
          <tab>
            <ng-template tabHeading><i class="icon-user"></i> Datos Generales &nbsp;</ng-template>          
            <div class="col-lg-12">
              <div class="card">              
                <div class="card-body">
                  
                  <div class="row">
                    
                    <div class="col-md-6">
                      <div class="input-group">                            
                        <span class="input-group-prepend">
                          <button [disabled]="soloLectura" type="button"
                              (click)="buscarPaciente()"                      
                              class="btn btn-primary btn-sm">
                              <i class="fa fa-search"></i> 
                              Paciente
                          </button>
                        </span>
                        <input type="text" id="txtCi" name="txtCi" [(ngModel)]="protocoloObj.paciente.ci" [disabled]="soloLectura" (keyup.enter)="buscarPaciente()" class="form-control form-control-sm" placeholder="Cedula Trabajador">                    
                      </div>
                    </div> 
                     
                    <div class="col-md-6">  
                      <div class="form-group">
                        <span class="form-group has-float-label">                                                                    
                          <input type="text" class="form-control form-control-sm" id="txtNombre" name="txtNombre" [(ngModel)]="protocoloObj.paciente.nombre_completo" placeholder="Nombre del Paciente">
                          <label class="badge-light" for="txtNombre">Nombre</label>
                        </span>
                      </div>
                    </div>  
                   
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <span class="form-group has-float-label">
                          <select  class="form-control form-control-sm" [disabled]="soloLectura" [(ngModel)]="protocoloObj.medico.uid" name="cboMedico"  id="cboMedico">
                            <option *ngFor="let med of selectMedicos" [value]="med.uid">{{med.nombre}}</option>                                                                     
                          </select>
                          <label class="badge-light" for="cboMedico">Medico Evaluador</label>
                        </span>  
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <span class="form-group has-float-label">
                          <input type="text" [disabled]="soloLectura" readonly class="form-control form-control-sm" [(ngModel)]="protocoloObj.protocolo.lugar" name="txtLugar"  id="txtLugar" placeholder="Lugar">
                          <label for="txtLugar">Lugar</label>
                        </span>  
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <span class="form-group has-float-label">                                
                          <input type="date" class="form-control form-control-sm" [disabled]="soloLectura" name="txtEmision" [(ngModel)]="protocoloObj.protocolo.emision" id="txtEmision">
                          <label for="txtEmision">Fecha Emision</label>
                        </span>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <span class="form-group has-float-label">                                
                          <input type="date" class="form-control form-control-sm" [disabled]="soloLectura" name="txtVigencia" [(ngModel)]="protocoloObj.protocolo.vigencia" id="txtVigencia">
                          <label for="txtVigencia">Fecha Vigencia</label>
                        </span>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <span class="form-group has-float-label">                                
                          <input type="date" class="form-control form-control-sm" [disabled]="soloLectura" name="txtProximaCita" [(ngModel)]="protocoloObj.protocolo.proxima_cita" id="txtProximaCita">
                          <label for="txtProximaCita">Proxima Cita</label>
                        </span>
                      </div>
                    </div>
                  </div>
                  
                  <div class="row">
                    <div class="col-md-12">
                      <span class="form-group has-float-label">                                  
                        <textarea id="txtDiagnostico" [disabled]="soloLectura" name="txtDiagnostico" [(ngModel)]="protocoloObj.protocolo.diagnostico" rows="2"  class="form-control form-control-sm" placeholder="Dignostico"></textarea>
                        <label for="txtDiagnostico">Diagnostico</label>
                      </span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <span class="form-group has-float-label">                                  
                        <textarea id="txtReferencia" [disabled]="soloLectura" name="txtReferencia" [(ngModel)]="protocoloObj.protocolo.referecia" rows="2"  class="form-control form-control-sm" placeholder="Referencia"></textarea>
                        <label for="txtReferencia">Referencia</label>
                      </span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <span class="form-group has-float-label">                                  
                        <textarea id="txtIndicaciones" [disabled]="soloLectura" name="txtIndicaciones" [(ngModel)]="protocoloObj.protocolo.indicaciones" rows="2"  class="form-control form-control-sm" placeholder="Indicaciones"></textarea>
                        <label for="txtIndicaciones">Indicaciones</label>
                      </span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-3">
                      <label><strong>Realizó Educación En Salud:</strong></label>
                    </div>
                    
                      <label>Charla</label>
                      <div class="col-sm-1">                        
                          <label class="switch switch-sm switch-label switch-pill switch-warning" tooltip="Charla?">                    
                            <input [disabled]="soloLectura" type="checkbox" name="chkCharla" id="chkCharla" class="switch-input" [(ngModel)]="protocoloObj.protocolo.charla">
                            <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
                          </label>                     
                      </div>
                      <label>Boletin</label>
                      <div class="col-sm-1">                      
                        <label class="switch switch-sm switch-label switch-pill switch-warning" tooltip="Boletin?">                    
                          <input [disabled]="soloLectura" type="checkbox" name="chkBoletin" id="chkBoletin" class="switch-input" [(ngModel)]="protocoloObj.protocolo.boletin">
                          <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
                        </label>
                      </div>
                      <label>Folleto</label> 
                      <div class="col-sm-1">
                        <label class="switch switch-sm switch-label switch-pill switch-warning" tooltip="Folleto?">                    
                          <input [disabled]="soloLectura" type="checkbox" name="chkFolleto" id="chkFolleto" class="switch-input" [(ngModel)]="protocoloObj.protocolo.folleto">
                          <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
                        </label>
                      </div>                   
                    <div class="col-md-4">
                      <div class="form-group">
                        <span class="form-group has-float-label">                                
                          <input type="text" class="form-control form-control-sm" [disabled]="soloLectura" name="txtOtro" [(ngModel)]="protocoloObj.protocolo.otro" id="txtOtro">
                          <label for="txtOtro">Otro</label>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngFor="let alert of alertsDismiss">
                  <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)"><strong>{{ alert.msg }}</strong></alert>                  
                </div>
                <div class="card-footer">
      
                  <button type="button" [disabled]="soloLectura" (click)="guardar()" class="btn btn-sm btn-primary" [popover]="alertaRegistrar" [popoverTitle]="titleRegistrar"><i class="fa fa-dot-circle-o"></i> Guardar</button>
                  <button [disabled]="soloLectura" type="submit" class="btn btn-sm btn-danger" (click)="reset()"><i class="fa fa-eraser"></i> Reset</button>
                  <button [disabled]="soloLectura" type="submit" class="btn btn-sm btn-success" (click)="imprimir(); myModalPlanilla.show();"><i class="fa fa-file-pdf-o"></i> Imprimir</button>
                </div>
              </div>
            </div>
          </tab>

          <tab>
            <ng-template tabHeading><i class="fa fa-medkit"></i> Riesgo General</ng-template>          
            <div class="col-lg-12">
              <app-riesgo-general-one [inIDPaciente]="protocoloObj.paciente.uid_paciente" [inIDProtocolo]="protocoloObj.protocolo.idprotocolo" [nuevo]="nuevo"></app-riesgo-general-one>               
            </div>
          </tab>
          <tab><!--<i class="icon-note"></i>-->
            <ng-template tabHeading><i class="fa fa-plus-square"></i> Riesgo Metabolico</ng-template>          
            <div class="col-lg-12">              
              <app-riesgos-metabolicos-one [inIDPaciente]="protocoloObj.paciente.uid_paciente" [inIDProtocolo]="protocoloObj.protocolo.idprotocolo" [nuevo]="nuevo"></app-riesgos-metabolicos-one>
            </div>
          </tab>
          <tab>
            <ng-template tabHeading><i class="fa fa-thermometer"></i> Enfermedad Actual</ng-template>          
            <div class="col-lg-12">              
              <app-enfermedad-actual-one [inIDPaciente]="protocoloObj.paciente.uid_paciente" [inIDProtocolo]="protocoloObj.protocolo.idprotocolo" [nuevo]="nuevo"></app-enfermedad-actual-one>
            </div>
          </tab>
          <tab>
            <ng-template tabHeading><i class="fa fa-hospital-o"></i> Ultimo Chequeo</ng-template>          
            <div class="col-lg-12">              
              <app-ultimo-chequeo-one [inIDPaciente]="protocoloObj.paciente.uid_paciente" [inIDProtocolo]="protocoloObj.protocolo.idprotocolo" [nuevo]="nuevo"></app-ultimo-chequeo-one>
            </div>
          </tab>
          <tab>
            <ng-template tabHeading><i class="fa fa-stethoscope"></i> Examen Fisico</ng-template>          
            <div class="col-lg-12">              
              <app-examen-fisico-one [inIDPaciente]="protocoloObj.paciente.uid_paciente" [inIDProtocolo]="protocoloObj.protocolo.idprotocolo" [nuevo]="nuevo"></app-examen-fisico-one>
            </div>
          </tab>
          <tab>
            <ng-template tabHeading><i class="fa fa-heartbeat"></i> Auscultacion</ng-template>          
            <div class="col-lg-12">              
              <app-auscultacion-one [inIDPaciente]="protocoloObj.paciente.uid_paciente" [inIDProtocolo]="protocoloObj.protocolo.idprotocolo" [nuevo]="nuevo"></app-auscultacion-one>
            </div>
          </tab>
          <tab>
            <ng-template tabHeading><i class="icon-chemistry icons "></i> Est. Laboratorio</ng-template>          
            <div class="col-lg-12">              
              <app-estudios-laboratorio-one [inIDPaciente]="protocoloObj.paciente.uid_paciente" [inIDProtocolo]="protocoloObj.protocolo.idprotocolo" [nuevo]="nuevo"></app-estudios-laboratorio-one>
            </div>
          </tab>
          <tab>
            <ng-template tabHeading><i class="icon-note"></i> Compromisos</ng-template>          
            <div class="col-lg-12">              
              <app-compromisos-one [inIDPaciente]="protocoloObj.paciente.uid_paciente" [inIDProtocolo]="protocoloObj.protocolo.idprotocolo" [nuevo]="nuevo"></app-compromisos-one>
            </div>
          </tab>
        </tabset>  
      </form>
    </div>
    
  </div>
  <div bsModal #myModalPlanilla="bs-modal" class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="myModalPlanilla" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content modal-secondary" >
        <div class="modal-header">        
          <button type="button" class="close" (click)="myModalPlanilla.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div *ngIf="impIDProtocolo!='-1' && impIDProtocolo!=undefined" class="modal-body">
          <planilla-protocolo-endocrino [inCiPaciente]="impCiPaciente" [inIDProtocolo]="impIDProtocolo" ></planilla-protocolo-endocrino>
        </div>
                  
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="myModalPlanilla.hide()">Close</button>      
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->