<div class="animated fadeIn">
  <div class="row">    
    <div class="col-md-12 mb-4">
      <!-- Nav tabs -->
      <tabset>        
        <tab>
          <ng-template tabHeading><i class="icon-calculator"></i> Ver &nbsp;<span class="badge badge-pill badge-danger">{{totalItems}}</span></ng-template>
          <div class="col-lg-12">
            <div class="card">
              <div class="card-header">
                 <strong>Atenciones Medicas</strong>                 
                 <div class="card-header-actions">
                  <button title="Registrar una Nueva Consulta Medica" type="button" class="btn btn-pill btn-block btn-success" (click)="primaryModal.show(); showModalRegistrar()">+</button>
                </div>
              </div>
              <div class="card-body">
                

                
                
                
                
              </div>
            </div>
          </div>
          <!--/.col-->
          
        </tab>
        <tab>
          <ng-template tabHeading><i class="icon-pie-chart"></i> Graficas</ng-template>
          <div class="card">
            <div class="card-header">
              Polar Area Chart              
            </div>
            <div class="card-body">
              <div class="chart-wrapper">
                <canvas baseChart class="chart"
                [data]="polarAreaChartData"
                [labels]="polarAreaChartLabels"
                [legend]="polarAreaLegend"
                [chartType]="polarAreaChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
              </div>
            </div>
          </div>
        </tab>
      </tabset>


    </div><!--/.col-->
  </div><!--/.row-->
</div>
