<div class="card">
    <div class="card-header">
      <strong>Anamnesis Psicologicos</strong> Evaluacion de Aspectos del Trabajo
    </div>
    <form action="" method="post" class="form-horizontal">      
        <div class="card-body">
          <div *ngFor="let es of estudiosPacientes; let i=index">               
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" style="width : 300px" >{{es.estudio.descripcion}}</span>
              </div>
              <input type="text" placeholder="Respuesta/Observacion" maxlength="100" [name]="'obs_' + i" [(ngModel)]="estudiosPacientes[i].observacion"  class="form-control">
              <input type="date" [name]="'fec_' + i" [(ngModel)]="estudiosPacientes[i].fecha_estudio"  class="form-control">        
            </div>
          </div>
        </div>
    
      <div class="card-footer">
        <div class="col col-lg-2">
          <button type="button" [disabled]="soloLectura" (click)="guardar()" class="btn btn-primary" >Guardar</button>
        </div>       
        <div *ngFor="let alert of alertsDismiss">
          <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)"><strong>{{ alert.msg }}</strong></alert>                  
        </div>
      </div>
    </form>  
</div>