<div class="card">
    <div class="card-header">
      <strong>Cargos</strong> Anteriores
    </div>
    <form action="" method="post" class="form-horizontal">
      <div class="card-body">                 
        <table class="table table-condensed" id="dataReferencias">                              
          <tr>                                
            <th scope="col">Cargo</th>
            <th scope="col">Actividad Lab. y/o Area de Desempeño</th>
            <th scope="col">Desde</th>
            <th scope="col">Hasta</th>
            <th scope="col">Riesgo y/o Proceso Peligroso Expuesto</th>
            <th scope="col">Add+</th>
          </tr>
          <tr>                                
            <th scope="col"><input type="text" class="form-control form-control-sm" [(ngModel)]="cargoAnterior.cargo"   name="txtCargo" id="txtCargo" #txtCargo placeholder="Cargo"></th>
            <th scope="col"><input type="text" class="form-control form-control-sm" [(ngModel)]="cargoAnterior.actividad_laboral" name="txtActividad" #txtActividad id="txtActividad" placeholder="Actividad"></th>
            <th scope="col"><input type="date" class="form-control form-control-sm" [(ngModel)]="cargoAnterior.desde"  name="txtDesde" id="txtDesde" #txtDesde placeholder="Inicio"></th>
            <th scope="col"><input type="date" class="form-control form-control-sm" [(ngModel)]="cargoAnterior.hasta"  name="txtHasta" id="txtHasta" #txtHasta placeholder="Fin"></th>
            <th scope="col"><input type="text" class="form-control form-control-sm" [(ngModel)]="cargoAnterior.riesgos"  name="txtRiesgo" id="txtRiesgo" placeholder="Riesgos"></th>
            <th scope="col">                                          
              <button type="button" (click)="guardar()" class="btn btn-block btn-link">
              <i class="fa fa-paperclip"></i>
              </button>
            </th>
          </tr> 
          <tr *ngFor="let ref of cargosAnteriores; let i=index">                                
            <th><i class="fa fa-paperclip"></i> {{ref.cargo}}</th>
            <th>{{ref.actividad_laboral}}</th>
            <th>{{ref.desde | date:'dd-MM-yyyy'}}</th>
            <th>{{ref.hasta | date:'dd-MM-yyyy'}}</th>
            <th>{{ref.riesgos}}</th>
            <th></th>
            <!--<td><button type="button"                                                                         
              (click)="quitReferencia(i)" 
              class="btn btn-block btn-link">
              <i class="icon-close"></i>
            </button></td>--> 
          </tr>                              
        </table>            
    
      </div>
    </form>
    <div class="card-footer">        
      <div *ngFor="let alert of alertsDismiss">
        <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)"><strong>{{ alert.msg }}</strong></alert>                  
      </div>
    </div>
</div>